// Here you can add other styles
@media screen and (min-width: 992px) {
  #root .main {
      padding-top: 30px;
  }
}

#logo {
  margin: 0 auto;
  color:#fff;
  font-weight: 700;
  letter-spacing:1px;
}

.app-header {
 position: static!important;
}

#downloadImageButton {
  margin-left: 10px;
  margin-top: 16px;
}

// MemoPrint
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #c8ced3;
  border-radius: 0 0 5px 5px;
  color: #353b3f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2em;
  padding: 0.4em 0.8em;
  width: 100%;
  height: 65vh;
}

textarea:focus {
  border: 1px solid #c8ced3;
  box-shadow: none;
  outline: none;
}

.textarea-style {
    padding: 0px 30px;
    font-size: 1.2em;
    color: #353b3f;
    width: 100%;
    min-height: 50vh;
}